.header-fixed {
    width: 96% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: calc(100vh - 50vh);
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 24%;
    float: left;
}
.marginLeftRight{
    margin:0 5% 0 5%;
}